:root {
  --lightblue: #a9d1d9;
  --greenButton: #6ad57c;
  --borderRadius: 30px;
  --borderRadius_inner: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  box-sizing: border-box;
}