.CashButton
    width: 100%
    max-width: 100px
    height: 40px
    border-top-right-radius: 12px
    border-bottom-right-radius: 12px
    background-color: lightgreen
    display: flex
    justify-content: center
    align-items: center
.CashButton:nth-child(2n)
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-top-left-radius: 12px
    border-bottom-left-radius: 12px
    // grid-column-end: none