.CashButton
    width: 100%
    max-width: 120px
    height: 52px
    border-top-right-radius: 12px
    border-bottom-right-radius: 12px
    background-color: #cceaeb
    display: flex
    justify-content: center
    align-items: center
    color: #638b9f // #2c789d
    font-weight: bold
.CashButton:nth-child(2n)
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-top-left-radius: 12px
    border-bottom-left-radius: 12px
    // grid-column-end: none
    justify-self: end